---

---

<section id="about-me">
    <div>
        <h2 data-lag="0.25">About Me</h2>
        <p>
            Hi! I’m Robin, a versatile, detail-oriented Digital Media developer driven by a keen interest in creative
            technology and storytelling. Proficient in HCI and Interactive Media Development using the Adobe Creative
            Suite, Unity and JavaScript.
        </p>
        <p>
            Outside of my studies, I love diving into the latest tech trends and enjoying stories in all forms; whether
            it be through games, films, or books. I’m currently seeking opportunities in the creative industries and
            software development to further my journey and make a meaningful impact!
        </p>
    </div>
    <div data-speed="0.5">
        <img src="/about-planet.svg" alt="" role="presentation" />
    </div>
</section>

<style>
    section {
        display: flex;
        align-items: center;
        gap: 4rem;

        min-height: 100dvh;

        div:first-of-type {
            width: 66.6%;
        }

        div:last-of-type {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 33.3%;

            contain: size;
            img {
                position: relative;
                z-index: -1;

                max-width: 100%;
            }
        }
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    document.addEventListener("mousemove", function (event) {
        if (!ScrollTrigger.isInViewport("#about-me") && !ScrollTrigger.isInViewport("#hero")) return;

        gsap.to("#about-me img", {
            x: -event.clientX * 0.025,
            y: -event.clientY * 0.025,
        });
    });
</script>
