---
import "../../styles/variables.css";
---

<section id="hero">
    <h1>Robin King</h1>
    <p>Digital Media Developer</p>

    <ul>
        <a href="#" class="link-button">CV</a>
        <a href="#contact" class="link-button" data-external="false">Contact</a>
    </ul>
    <svg
        data-speed="0.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="svg5"
        width="1920"
        height="1200"
        version="1.1"
        ><defs id="defs2"
            ><linearGradient id="linearGradient11727"
                ><stop id="stop2073" offset="0" style="stop-color:#25dce5;stop-opacity:.13725491"></stop><stop
                    id="stop2075"
                    offset="1"
                    style="stop-color:#35e8a4;stop-opacity:.62352943"></stop></linearGradient
            ><linearGradient id="linearGradient11727-3"
                ><stop id="stop11723" offset="0" style="stop-color:#1eb754;stop-opacity:.13870953"></stop><stop
                    id="stop11725"
                    offset="1"
                    style="stop-color:#e7e835;stop-opacity:.62541445"></stop></linearGradient
            ><linearGradient id="linearGradient11387"
                ><stop id="stop11383" offset="0" style="stop-color:#c3dbe9;stop-opacity:.91692205"></stop><stop
                    id="stop11385"
                    offset="1"
                    style="stop-color:#366eb8;stop-opacity:.09505783"></stop></linearGradient
            ><linearGradient id="linearGradient5752-3-6"
                ><stop id="stop10894" offset="0" style="stop-color:#c3dbe9;stop-opacity:.91692205"></stop><stop
                    id="stop10896"
                    offset="1"
                    style="stop-color:#366eb8;stop-opacity:.09505783"></stop></linearGradient
            ><linearGradient id="linearGradient5752"
                ><stop id="stop6464" offset="0" style="stop-color:#c68e53;stop-opacity:1"></stop><stop
                    id="stop6466"
                    offset="1"
                    style="stop-color:#d43262;stop-opacity:.54901963"></stop></linearGradient
            ><linearGradient id="linearGradient5752-3-6-7"
                ><stop id="stop5748" offset="0" style="stop-color:#bc75f4;stop-opacity:1"></stop><stop
                    id="stop5750"
                    offset="1"
                    style="stop-color:#101143;stop-opacity:.54938655"></stop></linearGradient
            ><linearGradient
                xlink:href="#linearGradient5752-3-6-7"
                id="linearGradient5758"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6-7"
                id="linearGradient10361"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6-7"
                id="linearGradient10363"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752"
                id="linearGradient10377"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752"
                id="linearGradient10379"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6"
                id="linearGradient10890"
                x1="1934.863"
                x2="2131.3359"
                y1="251.68312"
                y2="524.65735"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient10892"
                x1="1934.863"
                x2="2131.3359"
                y1="251.68312"
                y2="524.65735"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11727-3"
                id="linearGradient11561"
                x1="1401.2034"
                x2="2637.0591"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11727-3"
                id="linearGradient11563"
                x1="1785.9207"
                x2="2252.3418"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6"
                id="linearGradient12126"
                x1="1934.863"
                x2="2131.3359"
                y1="251.68312"
                y2="524.65735"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient12128"
                x1="1934.863"
                x2="2131.3359"
                y1="251.68312"
                y2="524.65735"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6-7"
                id="linearGradient13497"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient15978"
                x1="1785.9207"
                x2="2252.3418"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient15980"
                x1="1401.2034"
                x2="2637.0591"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient15994"
                x1="1785.9207"
                x2="2252.3418"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient15996"
                x1="1401.2034"
                x2="2637.0591"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient15998"
                x1="1785.9207"
                x2="2252.3418"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient16000"
                x1="1401.2034"
                x2="2637.0591"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient16010"
                x1="1785.9207"
                x2="2252.3418"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient16012"
                x1="1401.2034"
                x2="2637.0591"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient16014"
                x1="1785.9207"
                x2="2252.3418"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient16016"
                x1="1401.2034"
                x2="2637.0591"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752"
                id="linearGradient16022"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752"
                id="linearGradient16024"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6-7"
                id="linearGradient16030"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6-7"
                id="linearGradient16032"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6-7"
                id="linearGradient16038"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient5752-3-6-7"
                id="linearGradient16040"
                x1="1785.9255"
                x2="2252.3369"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient1019"
                x1="1401.2034"
                x2="2637.0591"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11387"
                id="linearGradient1021"
                x1="1785.9207"
                x2="2252.3418"
                y1="388.37344"
                y2="388.37344"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11727"
                id="linearGradient10351-0"
                x1="2077.1079"
                x2="1837.4164"
                y1="520.8725"
                y2="304.64227"
                gradientUnits="userSpaceOnUse"></linearGradient><linearGradient
                xlink:href="#linearGradient11727"
                id="linearGradient1762"
                x1="2077.1079"
                x2="1837.4164"
                y1="520.8725"
                y2="304.64227"
                gradientUnits="userSpaceOnUse"></linearGradient><filter
                id="filter6440"
                width="2.6497111"
                height="2.6497111"
                x="-.82485554"
                y="-.82485554"
                style="color-interpolation-filters:sRGB"
                ><feGaussianBlur id="feGaussianBlur6430" result="result6" stdDeviation="160.30086"
                ></feGaussianBlur><feComposite
                    id="feComposite6432"
                    in="SourceGraphic"
                    in2="result6"
                    operator="atop"
                    result="result8"></feComposite><feComposite
                    id="feComposite6434"
                    in="result8"
                    in2="SourceAlpha"
                    operator="over"
                    result="result9"></feComposite><feColorMatrix
                    id="feColorMatrix6436"
                    result="result10"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"></feColorMatrix><feBlend
                    id="feBlend6438"
                    in="result10"
                    in2="result6"
                    mode="screen"></feBlend></filter
            ><filter
                id="filter9599"
                width="1.0050428"
                height="1.0050428"
                x="-.0025214"
                y="-.0025214"
                style="color-interpolation-filters:sRGB"
                ><feGaussianBlur id="feGaussianBlur9589" result="result6" stdDeviation=".02781334"
                ></feGaussianBlur><feComposite
                    id="feComposite9591"
                    in="SourceGraphic"
                    in2="result6"
                    operator="atop"
                    result="result8"></feComposite><feComposite
                    id="feComposite9593"
                    in="result8"
                    in2="SourceAlpha"
                    operator="over"
                    result="result9"></feComposite><feColorMatrix
                    id="feColorMatrix9595"
                    result="result10"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"></feColorMatrix><feBlend
                    id="feBlend9597"
                    in="result10"
                    in2="result6"
                    mode="screen"></feBlend></filter
            ><filter
                id="filter10313"
                width="2.5124169"
                height="2.5124169"
                x="-.75620845"
                y="-.75620845"
                style="color-interpolation-filters:sRGB"
                ><feGaussianBlur id="feGaussianBlur10303" result="result6" stdDeviation="146.96011"
                ></feGaussianBlur><feComposite
                    id="feComposite10305"
                    in="SourceGraphic"
                    in2="result6"
                    operator="atop"
                    result="result8"></feComposite><feComposite
                    id="feComposite10307"
                    in="result8"
                    in2="SourceAlpha"
                    operator="over"
                    result="result9"></feComposite><feColorMatrix
                    id="feColorMatrix10309"
                    result="result10"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"></feColorMatrix><feBlend
                    id="feBlend10311"
                    in="result10"
                    in2="result6"
                    mode="screen"></feBlend></filter
            ><filter
                id="filter10327"
                width="1.0000001"
                height="1.0000001"
                x="-5e-8"
                y="-5e-8"
                style="color-interpolation-filters:sRGB"
                ><feGaussianBlur id="feGaussianBlur10317" result="result6" stdDeviation=".00000929"
                ></feGaussianBlur><feComposite
                    id="feComposite10319"
                    in="SourceGraphic"
                    in2="result6"
                    operator="atop"
                    result="result8"></feComposite><feComposite
                    id="feComposite10321"
                    in="result8"
                    in2="SourceAlpha"
                    operator="over"
                    result="result9"></feComposite><feColorMatrix
                    id="feColorMatrix10323"
                    result="result10"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"></feColorMatrix><feBlend
                    id="feBlend10325"
                    in="result10"
                    in2="result6"
                    mode="screen"></feBlend></filter
            ><filter
                id="filter10343"
                width="1.0000205"
                height="1.0000205"
                x="-.00001025"
                y="-.00001025"
                style="color-interpolation-filters:sRGB"
                ><feGaussianBlur id="feGaussianBlur10333" result="result6" stdDeviation=".00199255"
                ></feGaussianBlur><feComposite
                    id="feComposite10335"
                    in="SourceGraphic"
                    in2="result6"
                    operator="atop"
                    result="result8"></feComposite><feComposite
                    id="feComposite10337"
                    in="result8"
                    in2="SourceAlpha"
                    operator="over"
                    result="result9"></feComposite><feColorMatrix
                    id="feColorMatrix10339"
                    result="result10"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"></feColorMatrix><feBlend
                    id="feBlend10341"
                    in="result10"
                    in2="result6"
                    mode="screen"></feBlend></filter
            ><filter
                id="filter10313-7"
                width="2.5124141"
                height="2.5124169"
                x="-.75620707"
                y="-.75620845"
                style="color-interpolation-filters:sRGB"
                ><feGaussianBlur id="feGaussianBlur10303-5" result="result6" stdDeviation="146.96011"
                ></feGaussianBlur><feComposite
                    id="feComposite10305-9"
                    in="SourceGraphic"
                    in2="result6"
                    operator="atop"
                    result="result8"></feComposite><feComposite
                    id="feComposite10307-2"
                    in="result8"
                    in2="SourceAlpha"
                    operator="over"
                    result="result9"></feComposite><feColorMatrix
                    id="feColorMatrix10309-2"
                    result="result10"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"></feColorMatrix><feBlend
                    id="feBlend10311-8"
                    in="result10"
                    in2="result6"
                    mode="screen"></feBlend></filter
            ><filter
                id="filter9599-9"
                width="1.0050428"
                height="1.0050428"
                x="-.0025214"
                y="-.0025214"
                style="color-interpolation-filters:sRGB"
                ><feGaussianBlur id="feGaussianBlur9589-7" result="result6" stdDeviation=".02781334"
                ></feGaussianBlur><feComposite
                    id="feComposite9591-3"
                    in="SourceGraphic"
                    in2="result6"
                    operator="atop"
                    result="result8"></feComposite><feComposite
                    id="feComposite9593-6"
                    in="result8"
                    in2="SourceAlpha"
                    operator="over"
                    result="result9"></feComposite><feColorMatrix
                    id="feColorMatrix9595-1"
                    result="result10"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"></feColorMatrix><feBlend
                    id="feBlend9597-2"
                    in="result10"
                    in2="result6"
                    mode="screen"></feBlend></filter
            ><filter
                id="filter10327-3"
                width="1.0000001"
                height="1.0000001"
                x="-5e-8"
                y="-5e-8"
                style="color-interpolation-filters:sRGB"
                ><feGaussianBlur id="feGaussianBlur10317-1" result="result6" stdDeviation=".00000929"
                ></feGaussianBlur><feComposite
                    id="feComposite10319-9"
                    in="SourceGraphic"
                    in2="result6"
                    operator="atop"
                    result="result8"></feComposite><feComposite
                    id="feComposite10321-4"
                    in="result8"
                    in2="SourceAlpha"
                    operator="over"
                    result="result9"></feComposite><feColorMatrix
                    id="feColorMatrix10323-7"
                    result="result10"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"></feColorMatrix><feBlend
                    id="feBlend10325-8"
                    in="result10"
                    in2="result6"
                    mode="screen"></feBlend></filter
            ></defs
        ><g id="layer1">
            <!-- <g id="g13" transform="translate(894.43713 136.52166) scale(.37279448)"
                ><circle
                    id="path4222"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient13497);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle10331"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient5758);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            > -->
            <g id="g10" transform="translate(1396.751 167.19678) scale(.04323097)"
                ><circle
                    id="circle10357"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient10363);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle10359"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient10361);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g8" transform="translate(1210.7319 431.06366) scale(.05283983)"
                ><circle
                    id="circle10365"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient11561);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle10367"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient11563);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g3" transform="translate(98.476453 670.68999) scale(.02539559)"
                ><circle
                    id="circle10373"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient10379);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle10375"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient10377);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g1" transform="translate(-603.1304738 115.7936376) scale(.44281133)"
                ><circle
                    id="circle10886"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient10892);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle10888"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient10890);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g2" transform="translate(330.156226 100.625131) scale(.08445928)"
                ><circle
                    id="circle12122"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient12128);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle12124"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient12126);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g6" transform="translate(613.45376 715.53576) scale(.01301279)"
                ><circle
                    id="circle15974"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient1019);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle15976"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient1021);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle><circle
                    id="circle15982"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient15980);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle15984"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient15978);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g7" transform="translate(656.70765 314.42135) scale(.01301279)"
                ><circle
                    id="circle15986"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16000);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle15988"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient15998);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle><circle
                    id="circle15990"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient15996);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle15992"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient15994);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g9" transform="translate(1400.7268 462.99789) scale(.01341887)"
                ><circle
                    id="circle16002"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16016);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle16004"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16014);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle><circle
                    id="circle16006"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16012);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle16008"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16010);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g4" transform="translate(172.4329 1107.6151) scale(.03200885)"
                ><circle
                    id="circle16018"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16024);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle16020"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16022);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g11" transform="translate(1795.5262 238.33624) scale(.0179201)"
                ><circle
                    id="circle16026"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16032);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle16028"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16030);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g12" transform="translate(1723.3683 545.1839) scale(.02190316)"
                ><circle
                    id="circle16034"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16040);fill-opacity:1;stroke-width:1.76262;filter:url(#filter6440)"
                ></circle><circle
                    id="circle16036"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="opacity:1;fill:url(#linearGradient16038);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10343)"
                ></circle></g
            ><g id="g5"
                ><ellipse
                    id="circle6460-4"
                    cx="2019.1312"
                    cy="388.37344"
                    rx="233.20615"
                    ry="233.20572"
                    style="fill:url(#linearGradient1762);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10313-7)"
                    transform="translate(300.58635 922.21325) scale(.13369436)"></ellipse><circle
                    id="circle9549-5"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="fill:none;fill-opacity:1;stroke:#1e7d72;stroke-width:2.21852;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter9599-9)"
                    transform="translate(-98.719549 847.06257) scale(.33145557)"></circle><circle
                    id="circle10315-0"
                    cx="2019.1312"
                    cy="388.37344"
                    r="233.20572"
                    style="fill:url(#linearGradient10351-0);fill-opacity:1;stroke-width:1.76262;filter:url(#filter10327-3)"
                    transform="translate(300.50382 921.86475) scale(.13373523)"></circle></g
            ></g
        ></svg
    >
    <script>
        import { gsap } from "gsap";
        import { ScrollTrigger } from "gsap/ScrollTrigger";

        gsap.registerPlugin(ScrollTrigger);

        let selector = gsap.utils.selector("#hero");

        const planets = selector("g[id^='g']");

        const planetsInitial: { x: number; y: number }[] = planets.map((planet) => ({
            x: Number(gsap.getProperty(planet, "x")),
            y: Number(gsap.getProperty(planet, "y")),
        }));

        const maxWiggle = 64;

        const mousePosition = { x: 0, y: 0 };

        document.addEventListener(
            "mousemove",
            (event) => {
                mousePosition.x = event.clientX;
                mousePosition.y = event.clientY;
            },
            false,
        );

        const animatePlanets = () => {
            planets.forEach((planet, index) => {
                const direction = {
                    x: mousePosition.x > planetsInitial[index].x ? 1 : -1,
                    y: mousePosition.y > planetsInitial[index].y ? 1 : -1,
                };

                const newPos = {
                    x: gsap.utils.mapRange(
                        0,
                        window.innerWidth,
                        planetsInitial[index].x - maxWiggle,
                        planetsInitial[index].x + maxWiggle,
                        -mousePosition.x * direction.x * 0.05,
                    ),
                    y: gsap.utils.mapRange(
                        0,
                        window.innerHeight,
                        planetsInitial[index].y - maxWiggle,
                        planetsInitial[index].y + maxWiggle,
                        -mousePosition.y * direction.y * 0.05,
                    ),
                };

                gsap.to(planet, {
                    x: newPos.x,
                    y: newPos.y,
                });
            });

            requestAnimationFrame(animatePlanets);
        };

        requestAnimationFrame(animatePlanets);
    </script>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100dvh;
        width: 100dvw;
        padding: 0;

        h1 {
            font-size: var(--fs-xxxxl);
            margin-bottom: 0.5rem;

            text-shadow:
                0 0 7px rgba(195, 216, 222, 0.3),
                0 0 10px rgba(195, 216, 222, 0.3),
                0 0 21px rgba(195, 216, 222, 0.3),
                0 0 42px rgba(195, 216, 222, 0.3);
        }

        p {
            font-size: var(--fs-md);
        }

        ul {
            display: flex;
            gap: 2rem;
        }

        svg {
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }
</style>
