$bg-base-dark: #212022;
$body-text-colour: #c3d8de;

$fs-sm: clamp(0.9rem, 0.07vi + 0.88rem, 0.94rem);
$fs-base: clamp(1.13rem, 0.23vi + 1.07rem, 1.25rem);
$fs-md: clamp(1.41rem, 0.47vi + 1.29rem, 1.67rem);
$fs-lg: clamp(1.76rem, 0.84vi + 1.55rem, 2.22rem);
$fs-xl: clamp(2.2rem, 1.39vi + 1.85rem, 2.96rem);
$fs-xxl: clamp(2.75rem, 2.18vi + 2.2rem, 3.95rem);
$fs-xxxl: clamp(3.43rem, 3.32vi + 2.6rem, 5.26rem);
$fs-xxxxl: clamp(4.29rem, 4.95vi + 3.05rem, 7.01rem);
$fs-xxxxxl: clamp(5.36rem, 7.24vi + 3.55rem, 9.35rem);
