---

---

<header>
    <p>&lt;robeecodes /&gt;</p>
</header>

<style lang="scss">
    @use "../styles/variables";
    header {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;

        background-color: variables.$bg-base-dark;

        p {
            margin: 0;
        }
    }
</style>
