:root {
    --text-primary: #c3d8de;
    --text-secondary: #e6baac;
    --text-tertiary: #e6baac88;
    --background-colour: #210934;
    --background-colour-transparent: #0e0926cc;
    --header-footer-colour: #212022;
}
