---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import fetchProjects from "../../scripts/strapiApi/fetchProjects";

import { marked } from "marked";

import "../../styles/variables.css";

export async function getStaticPaths() {
    const projects = await fetchProjects();

    function createStaticPaths(projects: Array<Project>) {
        return projects.map((project) => ({
            params: { slug: project.slug },
            props: project,
        }));
    }

    return createStaticPaths(projects);
}

type Props = Project;
const project = Astro.props;

const content = marked.parse(project.content);
---

<ProjectLayout title={project.title}>
    <article>
        <div>
            <h1>{project.title}</h1>
        </div>
        <div>
            <img src={project.coverImageLink} />
        </div>
        <div set:html={content} />
    </article>
</ProjectLayout>

<style>
    article {
        margin: 0.5rem;

        display: grid;
        grid-template-columns: 3fr 5fr;
        grid-template-rows: auto auto;

        gap: 0.5rem;

        border: 1px solid var(--text-primary);
        border-radius: 0.25rem;

        background-color: var(--background-colour-transparent);

        padding: 0.5rem;

        max-width: 100%;
        height: calc(100dvh - 3.5rem);

        overflow: hidden;

        > div {
            padding: 0.5rem;

            border: 1px solid #c3d8de88;

            &:nth-child(1) {
                h1 {
                    font-size: var(--fs-sm);
                    text-align: center;
                }
                grid-column: 1 / span 2;
            }
            &:nth-child(2) {
                grid-column: 1;
                img {
                    aspect-ratio: 1 / 1;
                    object-fit: cover;

                    width: 100%;
                    max-width: 100%;
                }
            }
            &:last-of-type {
                h1 {
                    display: none;
                }
                grid-column: 2;
                overflow-y: scroll;
                p {
                    max-width: 60ch;
                }
            }
        }

        h1 {
            font-size: var(--fs-md);
        }

        h2,
        h3 {
            font-size: var(--fs-base);
        }
    }
</style>
